html,body{
    margin: 0;
    height: 100%;
}
.signup-container {

    background-image : url('../images/img-signup-bkg1.jpg');
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
    opacity: 0.8;
}

.signin-container {

    background-image : url('../images/test2.png');
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-size:50%;
    background-position: top right;
    opacity: 1;
    height: 100%;


}

.forum_inputs{
height: 100%;
display: flex;
align-items: center;
justify-content: center;
background: rgba(219, 224, 221, 0.836);
/* background: rgba(247, 247, 159, 0.568); */
}

.register_forum{
/* background: rgba(224, 231, 120, 0.425); */
height: 100%;
}

form.signup-form{
    width: 31em;   
}

.navbar {
    background: rgba(208, 240, 204, 0.568);
}

